* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    display: flex;
    padding: 20px;
    background-color: rgb(3, 33, 51);
    justify-content: space-between;
}

:root {
    --dark: rgb(3, 33, 51);
    --light: #fff;
    /* --medium: rgb(53, 154, 212); */
}

body {
    background-color: rgb(204, 200, 200);
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    margin-bottom: 20px;
    margin-left: 10px;
}

h1 {
    display: flex;
    /* this one not working */
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(53, 154, 212); */
    display: inline-block;
    color: var(--light);
    margin-top: 10px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
}

.header-nav-list a {
    color: var(--light);
    text-decoration: none;
    margin-left: 15px;
}

.header-nav-list a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

/* not updating on website fix this */
.header-nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-content: space-between;
}

/* doesn't work */
.about-me {
    font-size: 115%;
}

/* i want the images to also act as links so eventually 
when you click on them they will take you to that link */

.gigachad-img {
    max-width: 200px;
    margin: 20px;
}

.headers {
    color: var(--dark);
    /* min-width: 200px; */
    flex: 0 0 150px;
    border-right-color: var(--dark);
    border-right-width: 5px;
    border-style: solid;
    margin-right: 20px;
}

/* h2.headers {
    display: flex;
    flex: wrap;
    max-width: 200px;
} */

.small-img {
    max-width: 245px;
}

.small-img-inner:first-child {
    margin-right: 10px;
}

.big-img {
    max-width: 500px;
}

.big-img-group {
    margin-bottom: 10px;
}

.work-imgs:hover {
    filter: brightness(150%);
}

.small-img-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.small-img-inner {
    display: flex;
    flex-direction: column;
}

/* li {
    margin: 15px;
    list-style: none;
} */


.footer-list {
    margin-left: 15px;
    font-size: 110%;
    list-style: none;
}

.work-fig {
    position: relative;
    text-align: center;
}



@media screen and (max-width: 992px) {

    header {
        background-color: var(--medium)
    }

    h1 {
        background-color: var(--dark)
    }
}

/* iphone media screen is 399px */
/* find good colors that go with my theme */