* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --dark: rgb(3, 33, 51);
    --light: #fff;
    --medium: rgb(53, 154, 212);
}
body {
    background-color: rgb(204, 200, 200);
}

header {
    padding: 20px;
    background-color: rgb(3, 33, 51);
    display: flex;
    justify-content: space-between;
}

h1 {
    display: flex;
    /* this one not working */
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(53, 154, 212);
    display: inline-block;
    color: var(--light);
    margin-top: 10px;
}

nav {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
}
/* not updating on website fix this */
.header-nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-content: space-between;
}
/* doesn't work */
.about-me {
    display: flex;
    flex-direction: column;
}
/* i want the images to also act as links so eventually 
when you click on them they will take you to that link */

.gigachad-img {
    max-height: 200px;
    margin: 20px;
}

.headers {
    background-color: var(--dark);
    color: var(--light);
    margin: 10px;
}

.work-imgs {
    max-height: 200px;
    margin: 20px;
}

.work-imgs:hover {
    filter: brightness(150%);
    cursor: grab;
}

li {
    margin: 15px;
    list-style: none;
}

.footer-list {
    margin-left: 15px;
}



@media screen and (max-width: 992px) {

    header {
        background-color: var(--medium)
    }

    h1 {
        background-color: var(--dark)
    }
}